<div class="body">
    <div class="left-body">
        <div class="top-body-1">
            <h1 style="color: rgb(15, 107, 245);">{{item}}</h1>
        </div>
        <div class="top-body-2">
            <span>{{item1}}</span>
            <a href id="link">{{item2}}</a>
            <a href id="link"> {{item3}}</a>
            <a href id="link"> {{item4}}</a>
        </div>
        <div class="top-body-3">
            <span>
                {{item5}}
            </span>
        </div>
        <div class="top-body-4">
            <span>  {{item6}}</span>
            <div class="dot"></div>
        </div>
    </div>
    <div class="right-body">
        <div class="wrapper">
            <div class="search">
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <input type="text" placeholder="Search..." name="search"
                    id="border-search">
                <button type="submit" id="button-search"><i
                        class="fa fa-search"></i></button>
            </div>
        </div>

        <div *ngFor="let item of listNews">
            <app-news [title]="item.title" [content]="item.content"></app-news>
        </div>
    </div>
</div>