button {
  min-width: 60px;
  width: auto;
  height: 30px;
  border-radius: 4px;
  border: 1px solid gainsboro;
  font-size: 18px;
}

.style {
  &-xanh {
    background-color: #4f80d6;
    color: #fff;
    min-width: 124px;
  }
  &-den {
    background-color: #666;
    color: #fff;
  }
}