.header{
    border: 2px solid rgb(141, 140, 140);
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none;
    .left-head{
      width: 8%;
      margin-left: 25px;
    }
    .right-head {
     width: 92%;
    }
  }
  .under-head{
    display: flex;
    width: 100%;
    border: 2px solid rgb(141, 140, 140);
    margin-bottom: 8px;
    .left-under{
      width: 5%;
      background-color: rgb(15, 107, 245);
      margin-right: 3px;
    }
    .left-under h3{
      display: flex;
      justify-content: center;
    }
   
    .right-under{
     width:95%;
      background-color: rgb(15, 107, 245);
    }
  }
  